*   {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.shiba {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/HTML/pexels-fauxels-3183198.jpg");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 35px;

}

span {
    color: black;
    font-size: 35px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

nav ul li a:hover {
    color: black;
    transition: .3s;
}